body {
  display: flex;
  justify-content:center;
  background-color: black;
  
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px #004e89,
                2px 2px 1px #004e89;
  margin: 0;
  color: white;
  padding-bottom: 10px;
}

input {
  width: 50px;
}

p {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  
}

label {
    font: 1rem 'Fira Sans', sans-serif;
    padding-left: 10px;
}

#full-display {
  display: flex;
  flex-direction: column;
  
  margin-top: 80px;
  padding: 25px;
  background-color: #c00021;
  border-radius: 10px;
}

.grid {
  width: 550px;
  height: 550px;
  background-color: grey;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(16, 34.375px);
  grid-template-rows: repeat(16, 34.375px) ;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 30px;
  

}

.pixel {
  background-color: white;
  display: inline-block;
  /* height: 31.25px;
  width: 31.25px; */
  margin: none;
  box-sizing: border-box;
  border: 0.25px solid grey;
}

.pixel-black {
  background-color: black;
}

.pixel-white {
  background-color: white;
}

.pixel-custom {
  background-color: #e66465;
}

#control-panel {
  background-color: #004e89;
  width: 550px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
}

/* PANEL TOP ROW */
#panel-top-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* background-color: rgba(123, 158, 204, 0.8); */
  width: 550px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color:rgba(200, 200, 200, 1)
}

.colorOptions {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0px 0px 5px black;
  width: 100px;
  background-color: #0f63a3;
  
  
}

.colorOptions:hover {
  background-color: #004e89;
}
.colorSelect {
  width: 25px;
  height: 25px;
  border-radius: 30%;
  border: none;
}

.colorLabel {
  font-size: 18px;
  color: white;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 2px;
  font-weight: 400;
}

#black {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid black;
}

#grey {
  background-color: rgba(100, 100, 100, 1);
  border: 1px solid black;
}

#white {
  background-color: rgba(255, 255, 255, 1);
}

#custom {
  box-sizing: border-box;
  height: 25px;
  width: 25px;
}


/*  PANEL BOTTOM ROW */
#panel-botttom-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}

#gridSize{
  color: white;
  font-size: 25px;
  padding-left: 0px;
  font-family: 'Indie Flower', cursive;
}

#sizeInput>p {
  color: white;
  font-size: 15px;
  margin: 0px;
  padding-bottom: 5px;
}
 
#sizeInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
}

#ok, #grid-size {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-family: 'Indie Flower', cursive;
}

#ok:hover {
  background-color: rgba(200, 200, 200, 1);
}

#startOver {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  box-shadow: 0px 0px 10px black;
  font-family: 'Indie Flower', cursive;
}

#startOver:hover {
  font-size: 17px;
  line-height: 20px;
  border: 2px solid rgb(50, 50, 50);
  font-weight: 700;
}

.colorSelect:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.paintBlack {
  background-color: black;
}

/* #random {
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
} */

/* #colorSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* #black:hover {
  width: 35px;
  height: 35px;
}

#grey:hover {
  width: 35px;
  height: 35px;
}
#white:hover {
  width: 35px;
  height: 35px;
}
#custom:hover {
  width: 35px;
  height: 35px;
} */