body {
  display: flex;
  justify-content:center;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px #004e89,
                2px 2px 1px #004e89;
  margin: 0;
  color: white;
  padding-bottom: 10px;
}

input {
  width: 50px;
}

p {
  
  text-align: center;
  
}

label {
   
    padding-left: 10px;
}

#full-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 25px;
  background-color: #c00021;
  border-radius: 10px;
}

.grid {
  width: 500px;
  height: 500px;
  background-color: grey;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(16, 31.25px);
  grid-template-rows: repeat(16, 31.25px) ;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 30px;
  

}

.pixel {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  /* height: 31.25px;
  width: 31.25px; */
  margin: none;
  box-sizing: border-box;
  border: 0.25px solid grey;
}

#control-panel {
  background-color: #004e89;
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
 
  
  
}

/* PANEL TOP ROW */
#panel-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* background-color: rgba(123, 158, 204, 0.8); */
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color:rgba(200, 200, 200, 1)
}

.colorOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px 5px;
  box-shadow: 0px 0px 5px black;
  width: 100px;
  background-color: #0f63a3;
  
  
}

.colorOptions:hover {
  background-color: #004e89;
}
.colorSelect {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  border: none;
}

.colorLabel {
  font-size: 15px;
  color: white;
  font-weight: 400;
}

#black {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid black;
}

#grey {
  background-color: rgba(150, 150, 150, 1);
  border: 1px solid black;
}

#erase {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

#random {
  /* background-color: rgba(100, 100, 100, 1); */
  border: 1px solid black;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}



#custom {
  box-sizing: border-box;
  height: 25px;
  width: 25px;
}


/*  PANEL BOTTOM ROW */
#panel-botttom-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;

  
}

#sizeInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;

}

#gridSize{
  color: white;
  font-size: 20px;
  padding-left: 0px;
 
}

#sizeInput>p {
  color: white;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding-bottom: 5px;
}
 


#ok, #grid-size {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border: none;

}

#ok:hover {
  background-color: rgba(200, 200, 200, 1);
}

#startOver {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  box-shadow: 0px 0px 10px black;
  font-family: 'Indie Flower', cursive;
}

#startOver:hover {
  font-size: 17px;
  line-height: 20px;
  border: 2px solid rgb(50, 50, 50);
  font-weight: 700;
}

.colorSelect:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.paintBlack {
  background-color: black;
}



/* #colorSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* #black:hover {
  width: 35px;
  height: 35px;
}

#grey:hover {
  width: 35px;
  height: 35px;
}
#white:hover {
  width: 35px;
  height: 35px;
}
#custom:hover {
  width: 35px;
  height: 35px;
} */